name: Test reusable workflow
on:
#  # Uncomment when test added first time to register workflow and comment it back after workflow would be registered
#  #
#  # Added pull_request to register workflow from the PR.
#  # Read more https://stackoverflow.com/questions/63362126/github-actions-how-to-run-a-workflow-created-on-a-non-master-branch-from-the-wo
#  pull_request: {}
  workflow_dispatch:
    inputs:
      ref:
        description: "The fully-formed ref of the branch or tag that triggered the workflow run"
        required: false
        type: "string"
      sha:
        description: "The sha of the commit that triggered the workflow run"
        required: false
        type: "string"
jobs:
  setup:
    uses: ./.github/workflows/setup-test.yml
    strategy:
      matrix:
        target: ["one", "two"]
    with:
      matrix-step-name: setup
      matrix-key: ${{ matrix.target }}
      in: ${{ matrix.target }}

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: [setup]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./
        id: current
        with:
          matrix-step-name: setup

    outputs:
      result: "${{ steps.current.outputs.result }}"

  assert:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: nick-fields/assert-action@v2
        with:
          expected: 'one'
          actual: ${{ fromJson(needs.test.outputs.result).result.one }}

      - uses: nick-fields/assert-action@v2
        with:
          expected: 'two'
          actual: ${{ fromJson(needs.test.outputs.result).result.two }}

  teardown:
    runs-on: ubuntu-latest
    needs: [assert]
    if: ${{ always() }}
    steps:
      - name: Tear down
        run: echo "Do Tear down"
